In [128]:
import pandas as pd

In [129]:
ratings = pd.read_csv('/Users/oleksiypolegenko/Projects/IDE/PY_12_Advanced_Methods_In_Pandas/data/ratings_movies.csv')

In [130]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [135]:
ratings['year_release'] = ratings['title'].agg(get_year_release).astype('Int64')

/var/folders/k0/8m7thv5j00q13v9088h7s_1m0000gn/T/ipykernel_5912/459468643.py:1: FutureWarning: using <function get_year_release at 0x116288cc0> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  ratings['year_release'] = ratings['title'].agg(get_year_release).astype('Int64')

In [136]:
ratings['year_release'].isna().sum()

18

In [141]:
s_ratings = ratings['year_release'] == 1999
s_ratings.groupby(by='title')['rating'].mean().idxmin()

KeyError: 'title'

In [138]:
s1_ratings = ratings[ratings['year_release'] == 2010]
s1_ratings.groupby(by='genres')['rating'].mean().idxmin()

'Action|Sci-Fi'

In [139]:
ratings.groupby(by='userId')['genres'].nunique().idxmax()

599

In [143]:
ratings.groupby(by='userId')['rating'].agg(
    ['mean', 'count']
    ).sort_values(['count', 'mean'], ascending=[True, False])

            mean  count
userId
53      5.000000     20
595     4.200000     20
189     4.100000     20
569     4.000000     20
278     3.875000     20
...          ...    ...
274     3.235884   1346
448     2.847371   1864
474     3.398956   2108
599     2.642050   2478
414     3.391957   2698

[610 rows x 2 columns]

In [168]:
mask1 = ratings['rating'].count() > 10
mask2 = ratings['year_release'] == 2018

s1_ratings = ratings[mask2].groupby(by='genres')['rating'].agg(['median', 'count'])
s1_ratings[s1_ratings['count'] > 10]['median'].idxmax()

'Action|Adventure|Sci-Fi'

In [172]:
ratings['date'] = pd.to_datetime(ratings['date'])

In [175]:
ratings['year_rating'] = ratings['date'].dt.year

In [186]:
rat_by_g_y = pd.pivot_table(ratings, values='rating', index='genres', columns='year_rating', fill_value=0)

In [228]:
rat_by_g_y.loc['Action|Adventure'].min()
rat_by_g_y.loc['Action|Adventure|Animation|Children|Comedy|IMAX'].idxmax()
display('Animation|Children|Mystery' in rat_by_g_y[rat_by_g_y[2018].sort_values(ascending=False) == 5][2018])
rat_by_g_y.loc['Comedy']

/var/folders/k0/8m7thv5j00q13v9088h7s_1m0000gn/T/ipykernel_5912/2983883282.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display('Animation|Children|Mystery' in rat_by_g_y[rat_by_g_y[2018].sort_values(ascending=False) == 5][2018])

True

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

In [192]:
rat_by_g_y

year_rating,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
genres,,,,,,,,,,,,,,,,,,,,,
(no genres listed),0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.500000,3.500000,3.000000,3.676471
Action,2.730769,3.538462,0.0,0.0,2.588235,3.000000,2.750000,3.833333,2.700000,3.357143,...,0.000000,3.500000,4.500000,2.625000,2.500000,0.000,3.100000,3.545455,2.637931,2.588235
Action|Adventure,3.454545,4.150000,4.2,4.0,3.738462,3.500000,4.304348,3.277778,4.136364,3.413043,...,3.714286,3.437500,3.888889,3.900000,3.833333,3.875,3.560976,3.722222,3.527778,3.397436
Action|Adventure|Animation,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000,3.800000,3.750000,3.375000,3.650000
Action|Adventure|Animation|Children,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.000000,3.000000,3.500,3.666667,3.833333,3.500000,3.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sci-Fi|Thriller,2.666667,3.400000,0.0,4.0,2.142857,2.500000,3.600000,3.142857,0.000000,2.750000,...,4.000000,2.500000,1.833333,3.500000,3.833333,0.000,3.764706,3.916667,3.750000,3.562500
Sci-Fi|Thriller|IMAX,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.000000,3.666667,4.000000,4.000,4.000000,3.666667,2.500000,0.000000
Thriller,3.838095,3.923077,3.8,3.7,3.087912,3.477273,3.583333,3.250000,3.464286,3.411765,...,2.964286,2.833333,3.625000,3.083333,3.666667,4.000,2.911765,3.432432,3.152174,3.296296
War,0.000000,0.000000,0.0,4.5,3.000000,3.000000,3.500000,3.000000,3.000000,0.000000,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
Western,3.117647,3.000000,0.0,4.0,4.058824,3.111111,3.000000,4.000000,3.800000,4.500000,...,3.375000,3.666667,4.000000,4.100000,4.000000,4.000,3.900000,3.958333,2.933333,3.611111