### Unit 3

In [148]:
import pandas as pd

In [149]:
ufo_witness = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
display(ufo_witness)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [150]:
ufo_witness['Time'] = pd.to_datetime(ufo_witness['Time'])
display(ufo_witness['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [151]:
ufo_witness['Time'].dt.year.value_counts()

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: count, Length: 68, dtype: int64

In [152]:
nevada_mask = ufo_witness['State'] == 'NV'
time_intervals = ufo_witness[nevada_mask]['Time'].dt.date.diff().dt.days
time_intervals = time_intervals.fillna(0).astype(int)

In [153]:
time_intervals.describe()

count     284.000000
mean       68.686620
std       227.128309
min         0.000000
25%         2.000000
50%        11.500000
75%        35.500000
max      2767.000000
Name: Time, dtype: float64

In [154]:
def get_experience(arg):
    splitted_exp = arg.split(' ')
    year_names_list = ['лет', 'года', 'год']
    try:
        months = int(splitted_exp[2])*12 + int(splitted_exp[4])
    except IndexError:
        if splitted_exp[3] in year_names_list:
            months = int(splitted_exp[2])*12
        else:
            return int(splitted_exp[2])
    return months

In [155]:
import pandas as pd
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])

print(test_series_1.apply(get_experience))

print(test_series_2.apply(get_experience))

0    99
1    41
2    21
3     3
4    72
dtype: int64
0    60
1     5
2    13
3     3
4    84
dtype: int64

### Unit 6. Consolidation of knowledge

In [156]:
trip_data = pd.read_csv('/Users/oleksiypolegenko/Projects/IDE/PY_11_Basic_Methods_in_Pandas/data/citibike-tripdata.csv')
display(trip_data)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [157]:
trip_data['start station id'].isna().value_counts()

start station id
False    299831
True        169
Name: count, dtype: int64

In [158]:
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [159]:
trip_data['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [160]:
trip_data['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [161]:
trip_data['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [162]:
trip_data['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [163]:
print((trip_data['end station id'].nunique() - trip_data['start station id'].nunique()) != 0)
print((2018 - trip_data['birth year'].max()) == 10)
print((trip_data['start station name'].value_counts().idxmin()) == "Eastern Pkwy & Washington Ave")
print((trip_data['end station name'].value_counts().idxmax()) == "Liberty Light Rail")

True
False
True
False

In [164]:
trip_data = trip_data.drop(['start station id', 'end station id'], axis=1)

In [165]:
trip_data.shape

(300000, 12)

In [166]:
def birth_year_to_age(arg):
    age = 2018 - arg
    return age

In [167]:
trip_data['age'] = trip_data['birth year'].apply(birth_year_to_age)
trip_data = trip_data.drop(['birth year'], axis=1)

In [168]:
display(trip_data[trip_data['age'] > 60].shape[0])

11837

In [171]:
trip_data['starttime'] = pd.to_datetime(trip_data['starttime'])
trip_data['stoptime'] = pd.to_datetime(trip_data['stoptime'])
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [178]:
trip_data['trip duration'] = trip_data['stoptime'] - trip_data['starttime']
display(trip_data['trip duration'][3])

Timedelta('0 days 00:07:16.837000')

In [179]:
def weekenddetector(arg):
    if arg >= 5:
        return 1
    else:
        return 0

In [182]:
trip_data['weekend'] = trip_data['starttime'].dt.weekday.apply(weekenddetector)

In [185]:
trip_data['weekend'].sum()

115135

In [190]:
def time_of_day_setter(hour):
    if hour in range(0,7):
        return 'night'
    if hour in range(7,13):
        return 'morning'
    if hour in range(13,19):
        return 'day'
    else:
        return 'evening'

In [191]:
trip_data['time of day'] = trip_data['starttime'].dt.hour.apply(time_of_day_setter)

In [193]:
day_mask = trip_data['time of day'] == 'day'
night_mask = trip_data['time of day'] == 'night'
print(round(trip_data[day_mask].shape[0] / trip_data[night_mask].shape[0]))

9